<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbConnectionString" value="Data Source=localhost;Initial Catalog=TinToy;Integrated Security=SSPI" />
    <!--<add key="errorLogPath" value="c:\test\error.txt" />-->
    <!--<add key="blahblah" value="abc.txt" />-->
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  
</configuration>